.Middle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.Section{
    display: flex;
    width: 50%;
    height: 40vh;
    background-color: purple;
    margin: 30px;
}

