.grid-text{
    display: flex;
    height: 40vh;
    width: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-color: 'purple';
}

.sobre-titulo{
    font-size: 40px;
    color:#2d3436;
}

p{
    color: #2d3436;;
}